.coverWrapper {
  height: 350px;
  width: 600px;
  border: 1px solid $pink-300;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba($pink-400, 0.4);
  padding: 20px;
  display: flex;
  background-color: $pink-100;

  @include responsive(lg) {
    flex-direction: column;
    height: calc(100% - 40px);
    width: 400px;
  }

  @include responsive(md) {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .image {
    height: 100%;
    overflow: hidden;

    @include responsive(lg) {
      flex: 1;
      width: 100%;
    }

    img {
      height: 100%;
      object-fit: cover;

      @include responsive(lg) {
        height: auto;
      }
    }
  }

  .content {
    padding-left: 20px;
    @include flex-center;
    flex-direction: column;

    @include responsive(lg) {
      padding: 30px 0;
    }

    .title {
      font-size: 40px;
      font-weight: 700;
      font-family: 'Updock', cursive;
      text-align: center;

      @include responsive(md) {
        font-size: 32px;
      }

      @include responsive(sm) {
        font-size: 28px;
      }
    }

    .date {
      font-size: 14px;
      font-weight: 500;
      text-align: center;

      @include responsive(md) {
        font-size: 12px;
      }
    }

    .coupleName {
      font-size: 28px;
      text-align: center;
      margin: 20px auto;
      color: $pink-400;

      @include responsive(md) {
        font-size: 24px;
      }

      @include responsive(sm) {
        font-size: 20px;
      }
    }

    .invitation {
      text-align: center;

      @include responsive(md) {
        font-size: 12px;
      }

      .name {
        font-weight: 600;
      }
    }

    .button {
      margin-top: 30px;
      font-size: 14px;
      background-color: $pink-400;
      animation: box-shadow-pulse 1.5s infinite;
      transition: background-color 0.3s ease;

      @include responsive(md) {
        font-size: 12px;
      }

      &:hover {
        background-color: $pink-500;
      }
    }
  }
}

@keyframes box-shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($pink-400, 0.7);
  }
  100% {
    box-shadow: 0 0 0 10px rgba($pink-400, 0);
  }
}
