.button {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 100px;
  border: none;
  background-color: $pink-300;
  font-size: 16px;
  color: $white;
  transition: background-color 0.25s ease;
  cursor: pointer;

  &:hover {
    background-color: $pink-350;
  }
}
