@use 'sass:map';

/**
 * Variables
*/

$sm: 320px;
$md: 430px;
$lg: 575px;

/* Typography */
$font-base: 'Poppins', sans-serif;
$font-heading: 'Poppins', sans-serif;
$base-font-size: 1rem;
$base-line-height: 1.4;
$heading-line-height: 1.2;
