.wrapper {
  background-color: $pink-100;
  padding: 0 0 48px 0;
}
.title {
  font-size: 5.4rem;
  margin-bottom: 20px;
  font-family:
    Bonheur Royale,
    sans-serif;
  text-align: center;
}

.description {
  font-size: 1.8rem;
  margin: 0 0 20px;
  text-align: center;
}
