@use './fonts';
@use './abstracts/' as *;

:root {
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  --header-height: 50px;
  --footer-height: 92px;

  --body-color: #{$sky-50};
  --text-color: #{$black};

  --sidebar-width: 200px;
}

body {
  font-family: $font-base;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: var(--text-color);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
}

button,
input {
  font-family: $font-base;
}

* {
  word-break: break-word;
  word-wrap: break-word;
}
