.albumWrapper {
  padding-bottom: 48px;

  .images {
    margin-bottom: 30px;
    column-count: 2;
    column-gap: 10px;

    img {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
