.albumWrapper {
  padding-bottom: 48px;

  .images {
    margin-bottom: 30px;
    columns: 2;
    column-gap: 10px;

    .image {
      height: fit-content;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}
