.eventSectionWrapper {
  background-color: $pink-50;
  padding-bottom: 48px;

  .scheduleList {
    .scheduleItem {
      display: flex;
      height: 180px;
      overflow: hidden;
      background-color: $pink-50;
      border-radius: 5px;
      box-shadow: 0 5px 5px rgba($black, 0.1);

      @include responsive(md) {
        height: 150px;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      .image {
        width: 35%;
      }

      .content {
        flex: 1;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include responsive(md) {
          padding: 15px;
        }

        .title,
        .middleContent {
          font-size: 14px;

          @include responsive(md) {
            font-size: 12px;
          }
        }

        .mapButton {
          @include flex-center;
          width: fit-content;
          padding: 5px 16px;
          background-color: $pink-300;
          border-radius: 3px;
          color: $white;
          transition: background-color 0.25s ease;
          font-size: 13px;
          margin-left: auto;

          @include responsive(md) {
            font-size: 12px;
          }

          &:hover {
            background-color: $pink-350;
          }
        }
      }
    }
  }
}
