.donateSectionWrapper {
  padding-bottom: 48px;

  .cardList {
    @include flex-center;

    .card {
      flex: 1;
      border-radius: 10px;
      background-color: $pink-50;
      padding: 30px 20px;
      border: 2px dashed $pink-300;
      transition: all 0.3s ease;
      text-align: center;
      font-size: 14px;
      max-width: 300px;

      @include responsive(md) {
        font-size: 12px;
      }

      &:hover {
        box-shadow: 0 0 15px 0 rgba($black, 0.3);
      }

      .title {
        text-transform: uppercase;
      }

      .image {
        height: 130px;
        width: 130px;
        padding: 2px;
        border: 1px solid $gray-300;
        background-color: $white;
        margin: 10px auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
