.sectionTitleWrapper {
  padding: 48px 0 24px;
  text-align: center;

  @include responsive(md) {
    padding: 24px 0 16px;
  }

  .title {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;

    @include responsive(md) {
      font-size: 24px;
    }
  }

  .description {
    @include responsive(md) {
      font-size: 12px;
    }
  }
}
