.titleSectionWrapper {
  padding-bottom: 48px;
  .title {
    text-align: center;
    padding: 24px 0;
    font-weight: 600;
    background-color: $pink-300;
    color: $white;

    .heart {
      color: $red-500;
    }
  }

  .image {
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    .label {
      position: absolute;
      bottom: -24px;
      left: 0;
    }
  }

  .name {
    padding: 48px 0 24px;
    font-size: 28px;
    text-align: center;
  }

  .dates {
    font-size: 18px;
    text-align: center;
    color: $pink-400;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
  }
}
